.banner-slider-container {
    height: auto;
    max-height: 600px;
    overflow: hidden;
  }
  
  .color-overlay {
    position: absolute;
    background-color: #dededecf ;
    color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    line-height: 30px;
  }
  
  .text-overlay {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    width: 80%; 
    max-width: 600px; 
  }
  
  
  .text-overlay h2 {
    font-size: 18px;
    font-weight: bold;
  }
  
  .text-overlay p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .text-overlay  {
    padding: 8px 18px;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
  }
 
  
  @media (max-width: 992px) {
    .text-overlay {
      top: 45%;
    }
  .banner-image {
    height: 100vh;
  }
  }