@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
    color: #FF6B6B; /* Replace with your desired color */
    background-color: #fff; /* Replace with your desired background color */
  }

  a.active {
    color: #ff4141;
    font-weight: 500;
  }